<table id="table_employees" class="table table-condensed table-hover">
<tr>
  <th> </th>
  <th> </th>
  <th>Ime in priimek</th>
  <th>Telefonska številka</th>
  <th>Mobilna telefonska številka</th>
  <th>Elektronska pošta</th>
  <% @employees.order(:name).each do |employee| %>
    <tr id="row<%= employee.id %>">
      <td><%= link_to edit_employee_path(employee), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-edit"></span>
          <% end %> </td>
      <td><%= link_to employee,
                      method: :delete,
                      class: "delete_employee",
                        data: { confirm: 'Si prepričan?', remote: true } do %>
                          <span class="btn btn-default glyphicon glyphicon-remove"></span>
                        <% end %>
      </td>

      <td><%= employee.name %></td>
      <td><%= employee.number %></td>
      <td><%= employee.mobile_number %></td>
      <td><%= employee.email %></td>

    </tr>
  <% end %>
</table>
