<table id="table_employees" class="table table-condensed table-hover">
<tr>
  <th> </th>
  <th> </th>
  <th>Ime in priimek</th>
  <th>Telefonska številka</th>
  <th>Mobilna telefonska številka</th>
  <th>Elektronska pošta</th>
  <% @employees.order(:name).each do |employee| %>
    <tr id="row<%= employee.id %>">
      <td><%= link_to image_tag('edit-employee.png',size: "25x25"), edit_employee_path(employee) %>  </td>
      <td><%= link_to image_tag('remove-employee.png',size: "25x25"),

          employee,
          method: :delete,
          class: "delete_employee",
          data: { confirm: 'Si prepričan?', remote: true } %></td>
      </td>
      <td><%= employee.name %></td>
      <td><%= employee.number %></td>
      <td><%= employee.mobile_number %></td>
      <td><%= employee.email %></td>

    </tr>
  <% end %>
</table>
</div>
