<%= form_for(department) do |f| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>
      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
    <div class="form-group">
      <%= f.label "Članica",:class => "control-label" %>
      <%= select_tag(:mem, options_from_collection_for_select(Member.all,  :id, :name, department.member_id), :class => "form-control") %>
    </div>

    <div class="form-group">
      <%= f.label "Oddelek", :class => "control-label" %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>

    <br>

    <div class="actions">
      <%= submit_tag "Potrdi", :class => "form-control" %>
    </div>
  </form>
<% end %>
