<h1>Oddelek</h1>

<%= link_to 'Nov oddelek', new_department_path %> |
<%= link_to 'Nazaj', root_path %>
<br>
<br>

<table id="table_departments" class="table table-condensed table-hover">
  <% @departments.order(:name).each do |department| %>
    <tr>
      <td><%= link_to edit_department_path(department), class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %> </td>
      <td><%= link_to department,
              method: :delete,
              class: "delete_department",
              data: { confirm: 'Si prepriÄan?', remote: true } do %>
                <span class="btn btn-default glyphicon glyphicon-remove"></span>
          <% end %>
      </td>
      <td><%= department.name %></td>
    </tr>
  <% end %>
</table>
