<h1>Telefonski imenik Univerze na primorskem</h1>


<%= link_to 'Nova članica', new_member_path %> |
<%= link_to 'Nov oddelek', new_department_path %> |
<%= link_to 'Nov zaposlen', new_employee_path %>

<br>


<br>

<%# form_tag(root_path, method: "get") do %>
    <%# select_tag(:dep, options_from_collection_for_select(Department.all,  :id, :name)) %>
    <%# submit_tag "Išči", name: nil %>
<%# end %>



<%= form_tag(search_path, method: :get, remote: true) do %>
  <%= select_tag(:mem, options_from_collection_for_select(Member.all,  :id, :name, :selected => params[:mem]), prompt: "Vse članice") %>
  <%= select_tag(:dep, options_from_collection_for_select([],  :id, :name, :selected => params[:dep]), prompt: "Vsi oddelki", disabled: true) %>
  <%= label_tag(:emp, "") %>
  <%= text_field_tag :query%>
  <%= submit_tag "Išči", name: nil%>
<% end %>

<br>
<br>
<div id="employee-table-container">
  <%= render "employees/table", locals: { employees: @employees } %>
</div>
