<h1>Članice</h1>

<%= link_to 'Nova članica', new_member_path %> |
<%= link_to 'Nazaj', root_path %>
<br>
<br>


<table id="table_members" class="table table-condensed table-hover">
  <% @members.order(:name).each do |member| %>
    <tr>
      <td><%= link_to edit_member_path(member), class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
      </td>
      <td><%= link_to member,
            method: :delete,
            class: "delete_member",
            data: { confirm: 'Si prepričan?', remote: true } do %>
              <span class="btn btn-default glyphicon glyphicon-remove"></span>
            <% end %>
      </td>

      <td><%= member.name %></td>

    </tr>
  <% end %>
</table>
